{% extends "public/templates/public_template.html" %}
{% block title %}Home{% endblock %}


{% block main %}
<style>
    div{

    /*margin-left: 30px !important;*/
        /*border: 1px solid black;*/
  /*margin-top: 100px;*/
  /*margin-bottom: 100px;*/
  /*margin-right: 150px;*/
  margin-left: 80px;
  /*background-color: lightblue;*/
    }


</style>
<div>
               <form action='/comparison' method='POST' id='submitform'>
                <!--<input type='text', placeholder='user id'  name='user_input'>-->
                   <h5>Select the subset of dataset</h5>
<!--                &lt;!&ndash;<select name="datas"  id="datas"></select>&ndash;&gt;-->
<!--                   &lt;!&ndash;<label for="dataset">Choose subset datset:</label>&ndash;&gt;-->

<!--                    <label for="long1">LON.1:</label>-->
<!--                    <input type="text" id="long1" name="1ong1" placeholder="-93.581543">-->
<!--                    <label for="long2">LON.2:</label>-->
<!--                    <input type="text" id="long2" name="long2" placeholder="-93.581543"><br><br>-->
<!--                   <label for="lat1">LAT.1:</label>-->
<!--                   <input type="text" id="lat1" name="LAT.1" placeholder="42.032974">-->
<!--                    <label for="lat2">LAT.2:</label>-->
<!--                    <input type="text" id="lat2" name="lat2" placeholder="42.032974"><br><br>-->
                   <!--<input type="submit" value="Submit">-->

                                            <div>
                        <h5>Select the  dataset</h5>
                    <select name="data" id="dataset" >
                        {% for dataset in datasets %}
                        <option value="{{ dataset}}" SELECTED>{{ dataset }}</option>
                        {% endfor %} }
{#                      <option value="cluster1">dataset1</option>#}
{#                      <option value="cluster2">dataset2</option>#}
{#                      <option value="cluster3">dataset3</option>#}
{#                      <option value="cluster4">dataset4</option>#}
{#                        <option value="cluster5">dataset5</option>#}
{#                      <option value="6">dataset6</option>#}
{#                      <option value="7">dataset7</option>#}
{#                      <option value="8">dataset8</option>#}
{#                        <option value="9">dataset9</option>#}
{#                      <option value="10">dataset10</option>#}

                    </select>
                       </div>
               <hr>

                <br><br>
                <!--<h2>Other Options</h2>-->
                <h5>Compression methods </h5>
                <div class="checkbox">

                  <label><input type="checkbox" name="check" value="DFT"> Discrete Fourier Transform (DFT) </label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="check" value="PAA"> Piecewise Aggregate Approximation (PAA) </label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="check" value="VW"> Visvalingam-Whyatt Algorithm (VW) </label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="check" value="OP"> (Adapted) Optimal Algorithm (OP) </label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="check" value="DP"> (Adapted) Douglas-Peucker Algorithm (DP) </label>
                </div>

               <hr>

                                <div class="choose_d_methd">

                    <label for="d_method">Choose a surface distance metric:</label>
                      <select id="d_method" name="d_method">
                        <option value="HD">Hausdorff Distance (HD)</option>
                        <option value="AD">Angular Difference (AD)</option>
                        <option value="VD">Volumetric Difference (VD)</option>
{#                        <option value="OP">(Adapted) Optimal Algorithm (OP)</option>#}
{#                        <option value="DP">(Adapted) Douglas-Peucker Algorithm (DP)</option>#}
                      </select>
                 </div>
                 <br><br>
               <hr>
                   <div>
                   <button type="submit" class="btn btn-success">Compare</button>
                       </div>
                <!--<h5>Minimum Play Time (minutes)</h5>-->
                <!--<input type="text", placeholder='0'  name='min_time'>-->
                <!--<br><br>-->
                <!--<h5>Maximum Play Time (minutes)</h5>-->
                <!--<input type="text", placeholder='500000'  name='max_time'>-->
              </form>
    </div>

{% endblock %}

{% block script %}


<!--// var data = "app/static/dataset/dataset_name.json";-->

<!--// var data = [{'1':'Name'}, {'2': 'Age'}, {'3': 'Gender'}];-->

<!--// var data = JSON.parse(text);-->
<!--// var $select = $('#datas');-->
<!--// $.each(data, function(i, val){-->
<!--//     $select.append($('<option />', { value: (i+1), text: val[i+1] }));-->
<!--// });-->

<!--var xmlhttp = new XMLHttpRequest();-->
<!--xmlhttp.onreadystatechange = function() {-->
  <!--if (this.readyState == 4 && this.status == 200) {-->
    <!--var myObj = JSON.parse(this.responseText);-->
    <!--document.getElementById("demo").innerHTML = myObj.name;-->
  <!--}-->
<!--};-->
<!--xmlhttp.open("GET", "app/dataset_name.json", true);-->
<!--xmlhttp.send();-->







{% endblock %}